[Desktop Entry]
Type=Application
Name=Roblox Studio (Mac'n Cheese)
Comment=Roblox Studio through Wine
Comment[ru]=Roblox Studio через Wine
Exec=macncheese --studio %u
Icon=macncheese
Terminal=false
Categories=Development;
MimeType=x-scheme-handler/roblox-studio;x-scheme-handler/roblox-studio-auth;application/x-roblox-place;
StartupWMClass=robloxstudiobeta.exe
