[Desktop Entry]
Type=Application
Name=Mac'n Cheese
Comment=Run the macOS Roblox client on Linux through Darling
Comment[ru]=Запуск клиента Roblox для macOS на Linux через Darling
GenericName=Roblox launcher
GenericName[ru]=Лаунчер Roblox
Exec=macncheese
Icon=macncheese
Terminal=true
Categories=Game;
Keywords=roblox;darling;
StartupNotify=true
