[Desktop Entry]
Type=Application
Name=Mac O’ Blox Roblox Link Handler
Comment=Open Roblox links in Mac O’ Blox
Exec=macoblox %u
Icon=macoblox
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/roblox;x-scheme-handler/roblox-player;
